body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 15px 25px;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
}
.birth__table {
  background: url(./assets/happy-birthday-background-01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.birth__month {
  background: url(./assets/happy-birthday-background-02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}